body{
	
	font-family: 'Roboto Slab', serif;
}

.bg-gris{
	background-color: #eff2f3;
}
.bg-blanco{
	background-color: #fff;
}
.bg-azul{
	background-color: #0e1b2a;
}
.banner-principal{
	min-height: 400px;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
}

.box-img-principal-1{
	min-height: 400px;
	background-image: url('../images/img-1.jpg');
	background-repeat: no-repeat;
	background-size: 100%
}

.box-img-principal-2{
	min-height: 133px;
	background-image: url('../images/img-2.jpg');
	background-repeat: no-repeat;
	background-size: 100%
}
.box-img-principal-3{
	min-height: 310px;
	background-image: url('../images/img-3.jpg');
	background-repeat: no-repeat;
	background-size: 100%
}
.box-img{
	transition:all ease 0.5s;
}
.box-img:hover{
	background-size: 120%
	
}

.box-big{
	height: 620px
}

.box-small{
	height: 290px;
}
.box-principal:hover{
	box-shadow: 2px 2px 8px #555;
}
.box-principal{
	width: 100%;
	background-color: #fff;
}
.box-principal hr{
	margin-bottom: 0px;
}

.box-principal-texto{
	padding:20px;
	text-align: center;
}

.box-principal-mas{
	padding:0 20px 8px 20px;
	text-align: center;
}

.box-novedades{
	text-align: center!important;
}
.box-novedades h4{
	font-weight: bold;
}

.section{
	padding-bottom: 100px;
}
.title{
	font-size: 50px;
	color: #f05330;
	margin-bottom: 50px;
}
.ver-mas{
	display: block;
	padding:10px 8px;
	font-weight: bold;
	color: #f05330;
}
.ver-mas:hover{
	background-color: #ccc;
	color: #f05330;
	transition:all ease .5s;
	text-decoration: none
}
/*Footer*/
.footer ul li{
	list-style-type: none;
}
.footer ul li a, .footer ul li{
	color:#fff;
}
.social a {
	color:#fff;
	font-size: 32px;
	margin-right: 10px;  
}

/*Navbar*/
.navbar-default{
	border: 0;
	background-color: #fff;
	min-height: 90px;
	margin-bottom: 0;
}

.navbar-right{
	margin-top: 18px;
	font-size: 18px;
}
.navbar-right a:hover{
	color: #f05330!important;
}
.extra-navigation{
	background-color: #f05330;
	position: absolute;
	z-index: 500;
	height: 700px;
	width:400px;
	top: 0;
	display: none;
}
.extra-navigation h2{
	color: #fff;
	padding-left:15px;
	padding-bottom: 40px;

}

/*Login*/

.login{
	width: 320px;
	padding:15px;
	background-color: #fff;
	margin: auto;
	margin-top: 100px;
}

.btn-app{
	width: 100%;
	border-radius: 0;
	background-color:#f05330;
	color:#fff; 
}
.form-control{
	border-radius: 0;
}

.panel-default{
	border:0;
}
.extra-navigation .panel-heading{
	background-color: #f05330!important;
	color: #fff!important
}
.extra-navigation .panel-body{
	background-color: #fd7455!important;
	
}
.panel-body a{
	color:#fff!important;
}

.panel-body ul li{
	list-style-type: none
}

/* Materias */
#materias{
	padding-top: 30px;
}
#materias .panel-heading{
	background-color: #356daf!important;
	color: #fff!important
}
#materias .panel-body{
	background-color: none;
	
}

thead{
	font-weight: bold;
}
hr{
	border-top: 1px solid #ccc;
}
/*Notas intenas*/
.nota-data{
    padding: 15px 15px 15px 15px;
    color: #fff;
    background-color: #f05330;
    display: block;
    float: left;
    width: 100%;
}
.nota-imagen{
	margin-top: 30px;
	float: left;
	margin-bottom: 30px;
}
.nota{
	margin-top: 30px;
}
.nota h2{
	margin-top: 40px;
	margin-bottom: 0px;
}
.nota-contenido{
	line-height: 1.6;
    font-size: 16px;
    padding: 20px;
    float: left;
    width: 100%;
    display: block;
    background: #fff;
}
.nota-categorias{
	padding:20px 0;
	display: block;
	float: left;
	width: 100%;
}
.label-default{
	background-color: #fff!important;
	color:#555;
	border: 1px solid #f05330;
}
/*Buscador */

.buscador{
	background-color: #fff;
	margin-bottom: 50px;
	padding-bottom:40px;
}
.buscador h2{
	padding-top: 15px;
	text-align: center;
}

.buscador .buscador-input{
	padding-left: 0px;
	font-size: 30px;
	color:#ccc;
	border-bottom: 1px solid #ccc;
}

.buscador .buscador-btn{
	font-size: 30px;
	color:#ccc;
}

/* Helpers */
.no-padding{
	padding:0;
}
.separador{
	margin-top: 50px;
}
.padding{
	padding-left:15px;
	padding-right:15px;
}
.box-separador{
	margin-top: 20px;
}
.box-rojo{
	background-color: #f05330;
	color:#fff;
}



@media (max-width: 768px){
	.buscador .buscador-btn{
		font-size: 30px;
		color:#555;
		text-align: center;
		margin-top: 60px;
		background-color: #ddd;
		padding:10px 0;
	}

	.box-novedades img{
		margin:auto;
	}
}
@media (max-width: 1200px){
	

	.box-small .box-img{
		min-height: 100px;

	}
	.box-big .box-img{
		min-height: 277px;

	}

	
}
@media (max-width: 920px){
	.box-principal{
		margin-bottom: 30px;
	}

	.box-img{
		min-height: 150px;
	}

	.box-big{
		height: auto
	}

	.box-small{
		height: auto
	}
}

@media (max-width: 980px){
	.box-principal{
		margin-bottom: 30px;
	}

	.box-img{
		min-height: 150px;
	}

	.box-big{
		height: auto
	}

	.box-small{
		height: auto
	}
}