<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On
RewriteCond $1 !^(index\.php|resources|images|css|js|jstreet|robots\.txt|favicon\.ico)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>