.app-nav li a{
	color: #fff;
	font-size: 16px;
}
.app-nav{
	background-color: #356daf;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #3f83d4;
}

.app-nav .nav-stacked{
	margin-top: 30px;
}

.user i{
	color:#fff;
	font-size: 50px;

}
.user{
	text-align: center;
	margin-top: 60px;
	background-color: #0e1b2a;
	padding:20px 0;
}

.user .username{
	color:#fff;
	margin-top: 30px;
}

.btn-app{
	background-color: #f05330;
	color: #fff;
	padding:8px 20px;
	display: block;
	width: 140px;
	margin:auto;
	margin-top: 20px;
}